<nav>
    <a routerLink="/addOrder" routerLinkActive="active"> AddOrder </a>
    <a routerLink="/details" routerLinkActive="active"> DisplayOrder </a>
    <a routerLink="/getById" routerLinkActive="active"> FetchById </a>
    <a routerLink="/suppliersId" routerLinkActive="active"> GetAllSuppliersId </a>
    <a routerLink="/warehousesId" routerLinkActive="active"> GetallWarehousesId </a>
    <a routerLink="/rawMaterialsName" routerLinkActive="active"> GetallrawMaterialsName </a>
    <a routerLink="/updateStatus" routerLinkActive="active"> UpdateStatus </a>
</nav>

<router-outlet></router-outlet>